<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IAISIntegrationService">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://minsk.byte-protect.com/VPSService/AISIntegrationService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IAISIntegrationService"
                contract="IAISIntegrationService" name="WS2007HttpBinding_IAISIntegrationService" />
        </client>
    </system.serviceModel>
</configuration>